/***** MODAL CONTACT *****/

.modal-content {
  border-radius: 0;
}

.modal-header {
  background: #bdbdbd;
  color: white;

  h4 {
    font-weight: 700;
  }
}

.modal-body {
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

.modal-footer {
  background: #f2f2f2;
  margin-top: 0;
}
