hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;

  .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
  }

  .navbar-header h4 {
    color: #fff;
    font-weight: 500;
  }

  i {
    color: $theme-color;
    //font-size: 22px;
    letter-spacing: 1px;
  }

  img {
    max-height: 40px;
  }
}

.navbar-nav > .active > a {
  background: $theme-color;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link {
  line-height: 20px;
  position: relative;
  display: block;
  padding: 15px;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  list-style: none;
  font-size: 14px;
  height: auto;
  text-transform: uppercase;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
  background: $theme-color;

  &:hover {
    background: #090909;
  }
}

.lang-container {
  ul {
    margin-left: 0;
    padding-left: 0;

    li.wpml-ls-item {
      a {
        padding: 0;
      }

      ul.sub-menu {
        display: none;
        margin-left: 0;
        padding-left: 0;
      }

      &:hover {
        ul.sub-menu {
          display: block;
          right: 0;

          li {
            list-style-type: none;

            a {
              color: $theme-color;
              text-decoration: none;
              padding: 0;

              &:hover {
                background-color: #eee;
                color: #111;
              }
            }
          }
        }
      }
    }
  }
}
