/****** SECTIONS *****/

.w {
  padding-top: 35px;

  h4 {
    font-weight: 700;
  }

  i {
    color: #ff7878;
    font-size: 30px;
  }
}

.wb {
  padding-top: 35px;
  margin-bottom: 0;

  h4 {
    font-weight: 700;
  }
}

.desc {
  padding-top: 35px;

  h4 {
    font-weight: 700;
  }

  i {
    color: #ff7878;
    font-size: 12px;
    padding: 5px;
  }

  .sidebar {
    padding: 15px;
    border-color: #0c0c0c;
    border-radius: 5px;
    background-color: #d9edf7;
  }
}
