// custom loop product
.product-image-wrapper {
  border: 1px solid #fde4bf;
  overflow: hidden;
  margin-bottom: 30px;

  .single-products {
    position: relative;
    border-bottom: 1px solid #fde4bf;

    .productinfo {
      position: relative;
      padding-bottom: 23px;

      .title {
        min-height: 38px;
      }
    }
  }

  .title {
    margin: 0 3% 10px 3%;
    height: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    a {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #696763;
    }
  }

  .ion-ios-star {
    color: silver;

    &.active {
      color: #ff744e;
    }
  }
}

// fixed btn view add_to_cart
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  padding: 6px 12px;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: #f5f5ed;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

// style btn add_to_wishlist and add_to_compare
.choose .nav.nav-pills.nav-justified {
  margin: 0;

  li {
    padding: 0;
    margin: 0;

    a.add_to_wishlist {
      color: #b3afa8;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      padding-left: 0;
      padding-right: 0;
    }

    a.btn-compare {
      color: #b3afa8;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

//fixed view card product
.features_items .product-type-simple,
.features_items .product-type-variable {
  padding: 0 15px;
}

// fix to correct work overlay
.no_rating {
  height: 16px;
}
// style overlay
.product-overlay {
  background: rgba(254, 152, 15, 0.8);
  top: 0;
  display: block;
  height: 0;
  position: absolute;
  -webkit-transition: height 500ms ease 0s;
  transition: height 500ms ease 0s;
  width: 100%;

  .overlay-content {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #fe980f;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    display: inline-block;
    padding: 6px 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
  }

  .add-to-cart:hover {
    background: #fff;
    color: #fe980f;
  }

  .ion-ios-star {
    color: silver;

    &.active {
      color: #fff;
    }
  }
}

.single-products:hover .product-overlay {
  display: block;
  height: 100%;
}

//style subcategories
.subcategories {
  background-color: #eee;

  .subcategories_list {
    display: flex;
    width: 100%;
    padding: 0 15px;

    li {
      list-style-type: none;
      width: 100%;
      padding: 0 15px;

      h2 {
        font-size: 18px;
      }

      @media (min-width: 768px) {
        width: 50%;

        h2 {
          font-size: 18px;
        }
      }

      @media (min-width: 992px) {
        width: 33.33%;

        h2 {
          font-size: 20px;
        }
      }

      @media (min-width: 1200px) {
        width: 25%;

        h2 {
          font-size: 25px;
        }
      }

      a {
        img {
          width: 100%;
          border: 1px solid #0cc66b;
        }
      }
    }
  }
}


