.FBI_page {
  .row .office-items {
    text-align: center;
    padding: 25px 0;

    select {
      display: inline-block;
      font-size: 28px;
    }
  }

  .error-message {
    color: red;
    text-align: center;
    font-size: 16px;
  }

  .fbi_results {
    .load_spin {
      display: none;
    }

    .error-message {
      display: none;
    }

    .list_of_prisoners {
      display: none;

      .fbi_wanted_item {
        height: 750px;
        padding: 0 20px 20px;
        border: 5px solid #1da1f2;
        border-radius: 20px;
        background-color: #ff744e;
        text-align: center;

        .img_prisoner {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80%;
          min-height: 400px;
          height: auto;
          margin: 0 auto;
          border-radius: 10px;
        }
      }
    }
  }
}
