.FBI_page {
  .row .office-items {
    text-align: center;
    padding: 25px 0;

    select {
      display: inline-block;
      font-size: 28px;
    }
  }

  .error-massage {
    color: red;
    text-align: center;
    font-size: 12px;
  }
}
